*.py[oc]
*.so
*.o
*.c


/../share/cylinder.stl
tools/geneticalgo.gitignore 
tools/geneticalgo/pyxsrc/distance.cpp
tools/geneticalgo/pyxsrc/distance2.cpp
tools/geneticalgo/pyxsrc/piecewisePolynom2D.cpp
tools/geneticalgo/pyxsrc/primitives.cpp
tools/geneticalgo/pyxsrc/primitives2D.cpp

     
	